<footer class="container text-center sticky navbar-fixed-bottom">

    <div class="whatsapp">
        <a class="textWhite text-monospace text-decoration-none" href="https://api.whatsapp.com/send/?phone=5493482622020" target="_blank">
            <img src="../../../assets/img/wsp.png" alt="Icono Whatspp">
        </a>
    </div>
    
    <span>Powered by
        <img class="dlr" src="../../../assets/img/Logo_DLR_w.png" alt="Logo DLR">
    </span>

    <p class="dlcv">
        <a class="textWhite text-monospace text-decoration-none" href="../../../assets/pdf/CV-Delgado-Lucio-Rodrigo.pdf" target="_blank" download>
            Descargar C.V.
        </a>
    </p>

    
</footer>