<div class="container eArriba">
    <h2>Estudios Cursados:</h2>

    <ul>
        <li>
            <span>
                <strong class="escuela">Instituto Superior de Profesorado N° 63 "Natalia Quessús"</strong><br>
                <span class="carrera">Técnico Superior en Mantenimiento Industrial</span><span class="fecha">(2020-En
                    Curso)</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Escuela Superior de Comercio Nº43</strong><br>
                <span class="carrera">Analista de Sistemas de Computación</span><span class="fecha">(Incompleto –
                    2012-2015)</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">UTN Facultad Regional Rosario</strong><br>
                <span class="carrera">Ingeniería Civil</span><span class="fecha">(Incompleto 2008-2009)</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Escuela de Educación Técnica N° 451</strong><br>
                <span class="carrera">Técnico en equipos e instalaciones electromecánicas</span><span
                    class="fecha">(2001 - 2006)</span><br>
                <span class="carrera">Producción de bienes y servicios</span><span class="fecha">(2001 - 2005)</span>
            </span>
        </li>

    </ul>
</div>