<div class="w-100 banner">
    <div class="tipeo">
        Bienvenidos a mi Curriculum Virtual
    </div>

    <h1 class="nombre fadeInFX">Delgado Lucio Rodrigo</h1>

    <div>

    </div>

    <img class="img-fluid fotoBanner" src="../../../assets/img/fotoLucio.png" alt="Foto Lucio">

</div>

<div class="botones">

    <div>

        <a class="over" href="javascript:void(0)" (click)="ubicacion()">
            <img class="iconMenu" src="../../../assets/img/icons/local.svg" alt="Icono Ubicación">
        </a>

        <a class="over" href="javascript:void(0)" (click)="celular()">
            <img class="iconMenu" src="../../../assets/img/icons/cellphone.svg" alt="Icono Celular">
        </a>

        <a class="over" href="javascript:void(0)" (click)="telefono()">
            <img class="iconMenu" src="../../../assets/img/icons/telephone.svg" alt="Icono Telefono">
        </a>

        <a class="over" href="javascript:void(0)" (click)="email()">
            <img class="iconMenu" src="../../../assets/img/icons/email.svg" alt="Icono Email">
        </a>

        <a class="over" href="javascript:void(0)" (click)="LinkedIn()">
            <img class="iconMenu" src="../../../assets/img/icons/linkedin.svg" alt="Icono LinkedIn">
        </a>

        <a class="over" href="javascript:void(0)" (click)="github()">
            <img class="iconMenu" src="../../../assets/img/icons/github.svg" alt="Icono Github">
        </a>

    </div>
</div>

<app-navbar></app-navbar>