<div class="liston fixed-top menu">
    <a class="navBtn textWhite" href="#info"><strong>Info</strong></a>
    <a class="navBtn textWhite" href="#estudios"><strong>Estudios</strong></a>
    <a class="navBtn textWhite" href="#cursos"><strong>Cursos</strong></a>
    <a class="navBtn textWhite" href="#idiomas"><strong>Idiomas</strong></a>
    <a class="navBtn textWhite" href="#lenguajes"><strong>Lenguajes</strong></a>
    <a class="navBtn textWhite" href="#desarrollos"><strong>Desarrollo</strong></a>
    <a class="navBtn textWhite" href="#experiencias"><strong>Experiencia</strong></a>
</div>