<div class="container eArriba eAbajo">
    <h2>Experiencia Laboral:</h2>

    <ul>
        <li>
            <span>
                <strong class="escuela">Agronorte S.R.L.</strong><span class="fecha">08/2023 a la actualidad · 1 mes</span><br>
                <span class="carrera">Práctica Profesional Supervisada (200 Hs.).</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Ministerio de Educación de la provincia de Santa Fe</strong><span class="fecha">03/2023 a la actualidad · 4 meses</span><br>
                <span class="carrera">Reemplazante Asistente Escolar.</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Escuela de Educación Técnico Profesional Nº 451</strong><span class="fecha">09/2022 a 11/2022 · 3 meses</span><br>
                <span class="carrera">Dictado de clases – Taller de Mediciones Eléctricas.</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Instituto Icef</strong><span class="fecha">08/2022 a 2022 · 4 meses</span><br>
                <span class="carrera">Dictado de clases – Curso: Instalaciones Eléctricas Domiciliarias.</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">VM Servicios Industriales</strong><span class="fecha">08/2021 a 11/2022 · 1 año 4 meses</span><br>
                <span class="carrera">Oficina Técnica: Cálculo de materiales – Dibujo 2D y 3D AutoCAD.</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Avellaneda Sublimado</strong><span class="fecha">09/2017 a 03/2020 · 2 años 7 meses</span><br>
                <span class="carrera">Emprendimiento Propio: Diseños, Sublimación, Estampados, Rotulados, venta de insumos, ventas online.</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">I.M.A.N. S.A.C.I.A.</strong><span class="fecha">01/2017 a 05/2017 · 5 meses</span><br>
                <span class="carrera">Producción: puesta en marcha de molino harinero, control de molienda.</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Mempra S.R.L.</strong><span class="fecha">05/2011 a 12/2016 · 5 años 8 meses</span><br>
                <span class="carrera">Administración: Atención al público, carga de datos a sistema, facturación.</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Col-Ven S.A.</strong><span class="fecha">12/2010 a 02/2011 · 3 meses</span><br>
                <span class="carrera">Operario: Operario de línea de montaje, y maquinados.</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Dafer S.H.</strong><span class="fecha">06/2010 a 09/2010 · 3 meses</span><br>
                <span class="carrera">Operario de guillotina hidráulica.</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Deep S.A.</strong><span class="fecha">06/2008 a 02/2010 · 1 año 9 meses</span><br>
                <span class="carrera">Operario Producción: Bobinados, maquinados y montajes.</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Supermercados Azul</strong><span class="fecha">04/2007 a 09/2007 · 5 meses</span><br>
                <span class="carrera">Encargado Auxiliar: Apertura y cierre diarios, arqueos de caja.</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Hidráulica 40-S</strong><span class="fecha">2006</span><br>
                <span class="carrera">Pasantía: Mantenimiento, Reparación de bombas y cilindros hidráulicos.</span>
            </span>
        </li>

    </ul>
</div>