<div class="container  eArriba">
    <h2>Desarrollos:</h2>

    <div class="grilla">
        <div class="tarjeta">

            <a class="links" href="https://acinorsa.com.ar/" target="_blank">
                <img class="img-fluid" src="../../../assets/img/acinorsa.png" alt="Web Acinorsa">
                <li class="direccionweb">Acinorsa.com.ar</li>
            </a>

        </div>

        <div class="tarjeta">

            <a class="links" href="https://tsmi.netlify.app/" target="_blank">
                <img class="img-fluid" src="../../../assets/img/tsmi.png" alt="Web Aplicacion de Correlativas">
                <li class="direccionweb">Correlativas - Tec. Superior en Mantenimiento Industrial</li>
            </a>

        </div>

    </div>
    
</div>