<div class="container  eArriba">
    <h2>Lenguajes y Herramientas:</h2>


    <div class="grilla">
        <div class="tarjeta">
            <p><strong>HTML:</strong></p>
            <img class="img-fluid" src="../../../assets/img/Lenguajes/html.png" alt="Logo HTML">
        </div>

        <div class="tarjeta">
            <p><strong>CSS:</strong></p>
            <img class="img-fluid" src="../../../assets/img/Lenguajes/css.png" alt="Logo CSS">
        </div>

        <div class="tarjeta">
            <p><strong>JavaScript:</strong></p>
            <img class="img-fluid" src="../../../assets/img/Lenguajes/javascript.png" alt="Logo JavaScript">
        </div>

        <div class="tarjeta">
            <p><strong>Java:</strong></p>
            <img class="img-fluid" src="../../../assets/img/Lenguajes/java.png" alt="Logo Java">
        </div>
        
        <div class="tarjeta">
            <p><strong>Angular:</strong></p>
            <img class="img-fluid" src="../../../assets/img/Lenguajes/angular.png" alt="Logo Angular">
        </div>
        
        <div class="tarjeta">
            <p><strong>Bootstrap:</strong></p>
            <img class="img-fluid" src="../../../assets/img/Lenguajes/bootstrap.png" alt="Logo Bootstrap">
        </div>
        
        <div class="tarjeta">
            <p><strong>Git - Github:</strong></p>
            <img class="img-fluid" src="../../../assets/img/Lenguajes/github.png" alt="Logo Github">
        </div>
        
        <div class="tarjeta">
            <p><strong>VS Code:</strong></p>
            <img class="img-fluid" src="../../../assets/img/Lenguajes/vscode.png" alt="Logo VS Code">
        </div>
        
    </div>

</div>