@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oxygen:wght@300&family=Russo+One&display=swap');

body {
    font-family: 'Lato', Impact, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(220, 220, 220);
    color: white;
    overflow: hidden;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*      Inicio Banner Encabezado tipeo       */

.banner {
    display: block;
    position: relative;
    overflow: hidden;
}

.fotoBanner {
    width: 100%;
    height: auto;
    z-index: -10;
}

.tipeo {
    position: absolute;
    width: 35ch;
    margin-left: 30px;
    animation: tipeo 4s steps(35), fx .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    top: 30px;
    color: white;
    z-index: 10;
}

.nombre {
    position: absolute;
    margin-left: 30px;
    opacity: 0%;
    animation: fadeIn 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    font-family: 'Lato';
    font-size: 3em;
    top: 70px;
    color: white;
    z-index: 11;
}

@keyframes tipeo {
    from {
        width: 0
    }
}

@keyframes fx {
    50% {
        border-color: transparent
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*      Fin Banner Encabezado tipeo       */

/*---------------------------------------------------------------------------------------------------------------------*/
/*      Inicio Footer       */

footer {
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 25px 25px 0% 0%;
}

.powered {
    justify-content: center;
    align-items: center;
}

.dlr {
    width: auto;
    max-height: 20px;
    margin-left: 5px;
}

/*      Fin Footer       */

@media screen and (max-width: 800px) {
    .tipeo {
        margin-left: 30px;
        font-size: 1.5em;
        top: 20px;
    }

    .cajaBotones {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px 20px 0% 0%;
    }

}