<div class="container eArriba">
    <h2>Cursos y Talleres:</h2>

    <ul>
        <li>
            <span>
                <strong class="escuela">Programación Front-end</strong><br>
                <span class="carrera">Argentina Programa 4.0</span><br>
                <span class="fecha">(14/08/23 a la actualidad)</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Conducción de Equipos de Trabajo</strong><br>
                <span class="carrera">CAME - Confederación Argentina de la Mediana Empresa</span><br>
                <span class="fecha">(07/08/23 al 04/09/23)</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Programación Orientada a Objeto con Java</strong><br>
                <span class="carrera">Instituto Superior de Profesorado Nº 4 "Ángel Cárcano"</span><br>
                <span class="fecha">2023</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Desarrollo de Sitios Web</strong><br>
                <span class="carrera">Instituto Superior de Profesorado Nº 4 "Ángel Cárcano"</span><br>
                <span class="fecha">2023</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Soporte Informático</strong><br>
                <span class="carrera"></span>PotreroDigital.Org<br>
                <span class="fecha">07/2022</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">#YoProgramo - Desarrollador Full Stack Jr</strong><br>
                <span class="carrera">Argentina Programa: Ministerio de Desarrollo Productivo Argentina - INTI - CESSI Argentina</span><br>
                <span class="fecha">2022</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">#SéProgramar</strong><br>
                <span class="carrera">Argentina Programa: Ministerio de Desarrollo Productivo Argentina - INTI - CESSI Argentina</span><br>
                <span class="fecha">10/2021</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Mecánica Automotriz</strong><br>
                <span class="carrera">UTN - Facultad Regional Reconquista</span><br>
                <span class="fecha">2016</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Inyección Electrónica</strong><br>
                <span class="carrera">UTN - Facultad Regional Reconquista</span><br>
                <span class="fecha">2016</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Introducción a Los Sistemas Administrativos</strong><br>
                <span class="carrera">Escuela Superior de Comercio Nº43</span><br>
                <span class="fecha">2013</span>
            </span>
        </li>

        <li>
            <span>
                <strong class="escuela">Taller de Lenguajes PHP</strong><br>
                <span class="carrera">Escuela Superior de Comercio Nº43</span><br>
                <span class="fecha">2012</span>
            </span>
        </li>

    </ul>
</div>